.signupbox:hover{
	
	 /*transform:rotateX(360deg);
	 transition-delay:0.1s;
	 transition-duration:2s;*/
	 box-shadow:10px 10px gray;
	 
	 border-top-right-radius:3px;
	 border-top-left-radius:3px;
	 	 
}
.signupshadow:hover{
	text-shadow:10px 10px gray;
}


